
<div  >
<!-- button -->

<div mat-dialog-action [align]="'right'">
  <button mat-fab color="primary" aria-label="add patient" (click)="addQuestion()">
    <mat-icon>add</mat-icon>
  </button>
</div>

  <mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let element of dataSource">
      <mat-card class="example-card">
        <mat-card-title>{{ element.questionId }}</mat-card-title>
        <mat-card-subtitle>{{ element.etatDuQuestion }}</mat-card-subtitle>
        <mat-card-content>
          <p>Questionis :{{ element.question1 }}</p>
          <p>Note :{{ element.medecinNotes }}</p>
        </mat-card-content>
        
        <mat-card-actions>
          <button mat-icon-button color="primary" style="margin-right: 20px;" ><mat-icon>edit</mat-icon>Edit</button>
          <button mat-icon-button color="warn" > <mat-icon>delete</mat-icon>Delete  </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
