
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Questions" ><app-questions-details [cinSelected]="cinSelected" [preIsSelected]="preIdSelected"></app-questions-details></mat-tab>
    <mat-tab label="Echographie"><app-echographie-details [preIsSelected]="preIdSelected" [cinSelected]="cinSelected"></app-echographie-details></mat-tab>
    <mat-tab label="CIN" ><app-param-bio-details [preIsSelected]="preIdSelected" [cinSelected]="cinSelected"></app-param-bio-details></mat-tab>
  </mat-tab-group>  